spring:
  application:
    name: chatbot

  jpa:
    hibernate:
      ddl-auto: update

jwt:
  expiration: 86400000  # 24시간

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  default-consumes-media-type: application/json
  default-produces-media-type: application/json